
.icon-user-add:before { content: '\e800'; } /* '' */
.icon-note-beamed:before { content: '\e801'; } /* '' */
.icon-adjust:before { content: '\e802'; } /* '' */
.icon-heart:before { content: '\e803'; } /* '' */
.icon-heart-empty:before { content: '\e804'; } /* '' */
.icon-light-up:before { content: '\e805'; } /* '' */
.icon-certificate-outline:before { content: '\e806'; } /* '' */
.icon-certificate:before { content: '\e807'; } /* '' */
.icon-moon:before { content: '\e808'; } /* '' */
.icon-moon-inv:before { content: '\e809'; } /* '' */
.icon-play-circle2:before { content: '\e80a'; } /* '' */
.icon-play:before { content: '\e80b'; } /* '' */
.icon-stop:before { content: '\e80c'; } /* '' */
.icon-pause:before { content: '\e80d'; } /* '' */
.icon-to-start:before { content: '\e80e'; } /* '' */
.icon-to-end:before { content: '\e80f'; } /* '' */
.icon-down:before { content: '\e810'; } /* '' */
.icon-left:before { content: '\e811'; } /* '' */
.icon-right:before { content: '\e812'; } /* '' */
.icon-up:before { content: '\e813'; } /* '' */
.icon-user:before { content: '\e814'; } /* '' */
.icon-headphones:before { content: '\e815'; } /* '' */
.icon-user-add-outline:before { content: '\e816'; } /* '' */
.icon-art-gallery:before { content: '\e817'; } /* '' */
.icon-at:before { content: '\e818'; } /* '' */
.icon-heart-1:before { content: '\e819'; } /* '' */
.icon-sun:before { content: '\e81a'; } /* '' */
.icon-desktop:before { content: '\e81b'; } /* '' */
.icon-laptop:before { content: '\e81c'; } /* '' */
.icon-tablet:before { content: '\e81d'; } /* '' */
.icon-wifi:before { content: '\e81e'; } /* '' */
.icon-direction-outline:before { content: '\e81f'; } /* '' */
.icon-pin:before { content: '\e820'; } /* '' */
.icon-ok-outline:before { content: '\e821'; } /* '' */
.icon-user-add-1:before { content: '\e822'; } /* '' */
.icon-music:before { content: '\e823'; } /* '' */
.icon-eye:before { content: '\e824'; } /* '' */
.icon-eye-off:before { content: '\e825'; } /* '' */
.icon-heart-2:before { content: '\e826'; } /* '' */
.icon-heart-empty-1:before { content: '\e827'; } /* '' */
.icon-thumbs-up:before { content: '\e828'; } /* '' */
.icon-thumbs-down:before { content: '\e829'; } /* '' */
.icon-emo-laugh:before { content: '\e82a'; } /* '' */
.icon-emo-happy:before { content: '\e82b'; } /* '' */
.icon-home-outline:before { content: '\e82c'; } /* '' */
.icon-home:before { content: '\e82d'; } /* '' */
.icon-cloud:before { content: '\e82e'; } /* '' */
.icon-stop-1:before { content: '\e82f'; } /* '' */
.icon-pause-outline:before { content: '\e830'; } /* '' */
.icon-pause-1:before { content: '\e831'; } /* '' */
.icon-fast-fw-outline:before { content: '\e832'; } /* '' */
.icon-fast-fw:before { content: '\e833'; } /* '' */
.icon-rewind-outline:before { content: '\e834'; } /* '' */
.icon-rewind:before { content: '\e835'; } /* '' */
.icon-record-outline:before { content: '\e836'; } /* '' */
.icon-record:before { content: '\e837'; } /* '' */
.icon-github:before { content: '\e838'; } /* '' */
.icon-language-1:before { content: '\e839'; } /* '' */
.icon-home-1:before { content: '\e83a'; } /* '' */
.icon-android:before { content: '\e83b'; } /* '' */
.icon-phone-circled:before { content: '\e83c'; } /* '' */
.icon-folder:before { content: '\e83d'; } /* '' */
.icon-award:before { content: '\e83e'; } /* '' */
.icon-eject:before { content: '\e83f'; } /* '' */
.icon-fast-bw:before { content: '\e840'; } /* '' */
.icon-ccw:before { content: '\e841'; } /* '' */
.icon-login:before { content: '\e842'; } /* '' */
.icon-down-circled2:before { content: '\e843'; } /* '' */
.icon-align-justify:before { content: '\e844'; } /* '' */
.icon-barcode:before { content: '\e845'; } /* '' */
.icon-magnet:before { content: '\e846'; } /* '' */
.icon-lemon:before { content: '\e847'; } /* '' */
.icon-eye-1:before { content: '\e848'; } /* '' */
.icon-book:before { content: '\e849'; } /* '' */
.icon-folder-1:before { content: '\e84a'; } /* '' */
.icon-monitor:before { content: '\e84b'; } /* '' */
.icon-globe:before { content: '\e84c'; } /* '' */
.icon-emo-wink:before { content: '\e84d'; } /* '' */
.icon-emo-wink2:before { content: '\e84e'; } /* '' */
.icon-emo-sleep:before { content: '\e84f'; } /* '' */
.icon-emo-thumbsup:before { content: '\e850'; } /* '' */
.icon-calendar:before { content: '\e851'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-docs:before { content: '\f0c5'; } /* '' */
.icon-magic:before { content: '\f0d0'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
.icon-desktop-1:before { content: '\f108'; } /* '' */
.icon-laptop-1:before { content: '\f109'; } /* '' */
.icon-tablet-1:before { content: '\f10a'; } /* '' */
.icon-folder-empty:before { content: '\f114'; } /* '' */
.icon-gamepad:before { content: '\f11b'; } /* '' */
.icon-calendar-empty:before { content: '\f133'; } /* '' */
.icon-collapse:before { content: '\f151'; } /* '' */
.icon-doc-inv:before { content: '\f15b'; } /* '' */
.icon-doc-text-inv:before { content: '\f15c'; } /* '' */
.icon-thumbs-up-alt:before { content: '\f164'; } /* '' */
.icon-thumbs-down-alt:before { content: '\f165'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-apple:before { content: '\f179'; } /* '' */
.icon-vkontakte:before { content: '\f189'; } /* '' */
.icon-vimeo-squared:before { content: '\f194'; } /* '' */
.icon-language:before { content: '\f1ab'; } /* '' */
.icon-cube:before { content: '\f1b2'; } /* '' */
.icon-cubes:before { content: '\f1b3'; } /* '' */
.icon-behance:before { content: '\f1b4'; } /* '' */
.icon-recycle:before { content: '\f1b8'; } /* '' */
.icon-cab:before { content: '\f1b9'; } /* '' */
.icon-spotify:before { content: '\f1bc'; } /* '' */
.icon-file-audio:before { content: '\f1c7'; } /* '' */
.icon-file-code:before { content: '\f1c9'; } /* '' */
.icon-paper-plane-empty:before { content: '\f1d9'; } /* '' */
.icon-history:before { content: '\f1da'; } /* '' */
.icon-twitch:before { content: '\f1e8'; } /* '' */
.icon-wifi-1:before { content: '\f1eb'; } /* '' */
.icon-chart-area:before { content: '\f1fe'; } /* '' */
.icon-cc:before { content: '\f20a'; } /* '' */
.icon-simplybuilt:before { content: '\f215'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-mouse-pointer:before { content: '\f245'; } /* '' */
.icon-i-cursor:before { content: '\f246'; } /* '' */
.icon-hourglass-o:before { content: '\f250'; } /* '' */
.icon-hand-spock-o:before { content: '\f259'; } /* '' */
.icon-hand-pointer-o:before { content: '\f25a'; } /* '' */
.icon-hand-peace-o:before { content: '\f25b'; } /* '' */
.icon-bluetooth:before { content: '\f293'; } /* '' */
.icon-address-card:before { content: '\f2bb'; } /* '' */
.icon-user-circle:before { content: '\f2bd'; } /* '' */
.icon-telegram:before { content: '\f2c6'; } /* '' */
.icon-window-close:before { content: '\f2d3'; } /* '' */
.icon-superpowers:before { content: '\f2dd'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */
.icon-blogger:before { content: '\f314'; } /* '' */
.icon-blogger-rect:before { content: '\f315'; } /* '' */
.icon-instagram-1:before { content: '\f31e'; } /* '' */
